/*CSS for admin panel */

.floating-block .form-item-settings-floating-icons-hover {
  float: left;
  margin-left: 20px;
  margin-top: 10px !important;
}

.floating-block .form-item-settings-floating-icons-hover label {
  background-color: #0878be;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

.floating-block label[for=edit-settings-floating-icons-hover-grow]:hover {
  z-index: 10;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  -moz-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.floating-block label[for=edit-settings-floating-icons-hover-shrink]:hover {
  z-index: 10;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  -moz-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.floating-block label[for=edit-settings-floating-icons-hover-black-white]:hover {
  z-index: 10;
  color: #ffffff;
  background: #000000;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  -moz-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.floating-block label[for=edit-settings-floating-icons-hover-white-black]:hover {
  z-index: 10;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 1px 1px #333;
  -moz-box-shadow: 1px 1px 1px 1px #333;
  box-shadow: 1px 1px 1px 1px #333;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.floating-block label[for=edit-settings-floating-icons-hover-rotate]:hover {
  z-index: 10;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
